<div class="container-vh100"> 
    <div class="left-bar">
  <h2 class="mat-h2"> Todas las categorías</h2>
  <ul *ngFor="let item of cat">
    <a href="/materiales/{{item.idCategoriaM}}"><li> {{item.nombre}} </li></a>
  </ul>
    </div>
    <div class="content">
      <div class="title">
        <div *ngIf="datos!=null"> 
        <h1 class="mat-h1"> Materiales — {{datos[0].categoria}}</h1>
        </div>
      </div>
      <div class="grid-container">
            <mat-grid-list [cols]="3" [rowHeight]="'23em'" gutterSize="10px">
              <mat-grid-tile *ngFor="let item of datos">
                <mat-card  class="dashboard-card">
                  <mat-card-content class="dashboard-card-content">
                    <div class="imagen"> 
                        <img src="/assets/images/{{item.imagen}}">
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <div class="left-card">
                      <h3>
                    {{item.nombre}}
                  </h3>
                  </div>
                  <span class="example-spacer"></span>
                  <div class="right-card">
                    <button style="background-color: {{item.color}};"
                      mat-mini-fab
                      matTooltip="Detalle del Material"
                      aria-label="Detalle del Material"
                      (click)="Redirect(item.idMaterial)"
                    >
                      <mat-icon class="mat-18" style="color: rgb(255, 255, 255); text-shadow: 0px 0px 3px black;">info</mat-icon>
                    </button>
                  </div>
                  </mat-card-actions>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
    </div>
</div>