<div class="main-container">
  <div *ngIf="datos != null">
    <div class="data-container">
      <div class="th-header">
        <div class="left-side">
          <img src="../../../assets/images/icon.png">
        </div>
        <div class="right-side">
        <span class="example-spacer"></span>
        <h2> información de canjeo </h2>
      </div>
      </div>
      <div class="bodyodyody">
        <div class="body-flex">
          <div class="box1">
            <h3> Fecha</h3>
            <p> {{datos.fecha}} </p>
          </div>
          <div class="box1">
            <h3> Usuario</h3>
            <p> {{datos.usuario}} </p>
          </div>
          <div class="box1">
            <h3> Centro</h3>
            <p> {{datos.centro}} </p>
          </div>
          <div class="box2">
            <h3> Total</h3>
            <p> {{datos.total}} ecomonedas </p>
          </div>
        </div>
        <table>
          <thead>
            <th>MATERIAL</th>
            <th>VALOR</th>
            <th>CANTIDAD</th>
            <th>SUBTOTAL</th>
          </thead>
          <tbody *ngFor="let item of datos.materiales">
            <tr>
              <td>
                {{ item.material.nombre }}
              </td>
              <td>{{ item.material.valor }}</td>
              <td>
                {{ item.cantidad }}
              </td>
              <td>
                {{ item.subtotal }}
              </td>
            </tr>
          </tbody>
          <tr class="summary"> 
            <td> <b> Total Canjeado </b> </td>
            <td>  </td>
            <td>  </td>
            <td> <b> {{datos.total}} </b> </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
