<div class="main-container">
  <div *ngIf="datos != null">
    <div class="data-container">
      <div class="th-header">
        <h2> Información de Canjeo</h2>
      </div>
      <div class="bodyodyody">
        <div>
          <p>
            Este canjeo fue realizado por <b>{{ datos.usuario }}</b
            >, el día <b>{{ datos.fecha }}</b> en <b>{{ datos.centro }}</b> con un total de <b>{{datos.total}} monedas</b> canjeadas.
            <br />
            Los materiales canjeados fueron los siguientes:
          </p>
        </div>
        <table>
          <thead>
            <th>Material</th>
            <th>Valor</th>
            <th>Cantidad</th>

            <th>Subtotal</th>
          </thead>
          <tbody *ngFor="let item of datos.materiales">
            <tr>
              <td>
                {{ item.material.nombre }}
              </td>
              <td>{{ item.material.valor }}</td>
              <td>
                {{ item.cantidad }}
              </td>
              <td>
                {{ item.subtotal }}
              </td>
            </tr>
          </tbody>
          <tr class="summary"> 
            <td> <b> Total Canjeado </b> </td>
            <td>  </td>
            <td>  </td>
            <td> <b> {{datos.total}} </b> </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
