mat-form-field.mat-form-field {
    font-size: 16px;
  }
  .full-width {
    width: 100%;
  }
  
  .shipping-card {
    min-width: 120px;
    margin: 100px auto;
  }
  
  .mat-radio-button {
    display: block;
    margin: 5px 0;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }
  
  .col:last-child {
    margin-right: 0;
  }
  
  mat-card-content{
    margin: 10px 0;
  }

  mat-card-actions{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .btnEstado{
    margin: 0 0 20px 20px;
    padding: 0px 10px;
    background-color:#9E9D24;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
  }