.background {
    min-height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url('../../../assets/images/bg-trade.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
}

.formContainer{
    min-height: 90vh;
    max-width: 90vw;
    padding: 20vh 5vw;
}

.topPart{
    background-color: white;
    height: fit-content;
    margin-bottom: 2.5vh ;
    border-radius: 15px;
    box-shadow: 0px 0px 15px black;
    display: flex;
    padding: 5vh;
}


hr{
    margin: 0% 7%;
    border: none;
    border: 0.5px solid rgb(201, 201, 201);
}


.bottomPart{
    background-color: white;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 0px 0px 15px black;
    padding: 1.5% 3%;
}

.header{
   background-color: rgb(145, 192, 70);
   border-radius: 15px;
}

.header > mat-header-cell{
   border-radius: 15px 15px 0px 0px;
}

.footer-row{
    background-color: rgb(145, 192, 70);
    border-radius: 0px 0px 15px 15px;
    font-weight: 600;
}

.footer-row > mat-footer-cell{
    border-radius: 0px 0px 15px 15px;
 }

 mat-cell{
    padding: 2.5% 0%;
 }

 .buttonPart{
    display: flex;
    flex-direction: row-reverse;
    padding: 2.5% 0%; 
 }
 img{
    filter: brightness(85%);
    height: 25px;
    margin-right: 5%;
}