<div>
  <div class="container-vh100 bg">
    <div>
      <h1> Nuestros centros</h1>
    </div>
    <div class="container-int">
      <div class="menu-option">
        <ul>
          <div *ngFor="let item of datos">
            <li  (click)="changeData(item)">
              ➺ {{ item.nombre }}
            </li>
          </div>
        </ul>
      </div>
      <div id="changeable" class="select-detail">
        <div *ngIf="datos != null">
        <h3 id="title">{{datos[0].nombre}}</h3>
        <hr/>
        <p> <b>Administrador:</b> <span id="admin"> {{datos[0].administrador}} </span> </p>
        <p> <b>Teléfono:</b> <span id="tel"> {{datos[0].telefono}} </span> </p>
        <p> <b>Sede:</b> <span id="sede"> {{datos[0].sede}} </span></p>
        <hr/>
        <div class="button-part">
          <button class="botoncito" mat-raised-button id="{{datos[0].idCentro}}" color="warn">Más Información</button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
