.container{
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.sq-cont{
    padding: 13vh 5%;
    height: 90%;
    width: 90%;
}

.square{
    color: white;
    padding: 1% 1%;
    width: 50%;
    height: 100%;
    letter-spacing: 0.1em;
    line-height: 1.5em;
}

.square > h1, h2{
    letter-spacing: 0.15em;
    word-spacing: 0.05em;
    line-height: 1.5em;
    text-shadow: 0px 0px 10px black,3px 3px 3px black ;
}

.square > p{
    color: rgba(255, 255, 255, 0.8);
}

.square > p > span{
    color: white;
    font-weight: 500;
}

.mat-mdc-standard-chip.mdc-evolution-chip--disabled {
    opacity: 1;
    letter-spacing: 0.05em;   
    background-color: #ffffff15;
    border: 2px solid rgba(255, 255, 255, 0.534); 
    font-weight: 500;
}

.mat-mdc-standard-chip {
    --mdc-chip-disabled-label-text-color: rgb(255, 255, 255);
    --mdc-chip-elevated-container-color: #e0e0e0;
    --mdc-chip-elevated-disabled-container-color: #e0e0e0;
    --mdc-chip-focus-state-layer-color: black;
    --mdc-chip-focus-state-layer-opacity: 0.12;
    --mdc-chip-label-text-color: #212121;
    --mdc-chip-with-icon-icon-color: #212121;
    --mdc-chip-with-icon-disabled-icon-color: #212121;
    --mdc-chip-with-icon-selected-icon-color: #212121;
    --mdc-chip-with-trailing-icon-disabled-trailing-icon-color: #212121;
    --mdc-chip-with-trailing-icon-trailing-icon-color: #212121;
}

img{
    filter: brightness(85%);
    height: 25px;
}
