
body {
    display: flex;
    justify-content: center;
    height: 250px;  
}

.footer {
    background-color: #231f20;
    overflow: hidden;
    height: 250px;
}

.bg{
    background-image: url("../../../assets/images/2305515.svg");
    background-size: 100% 100%;
    height: 250px;
}

.grid {
    height: 250px;
    display: grid;
    grid-template-rows: 250px 250px 250px;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.imgLogo {
    height: 100%;
    border-radius: 25%;
    width: auto;
    max-width: 70%;
    transition: ease 0.3s;
}

.imgLogo:hover {
    background-color: #181414e3;
    border-radius: 25%;
    height: 99%;
    width: auto;
    max-width: 70%;
    cursor: pointer;
}

.box {
  text-align: center;
  color: #d8d8d8;
  padding: 1%;
}


ul{
    list-style: none;
    display: contents;
}

@media (max-width: 900px) {
    .grid {
        display: inline;
        height: 250px;
    }

    .footer {
        background-color: #231f20;
        height: fit-content;
        overflow: hidden;
    }

    .bg{
        background-image: none;
        background-size: 100% 33.33%;
        object-fit: contain;
        height: fit-content;
    }

      .box {
        height: 250px;
        text-align: center;
        color: #AAA;
        padding: 5%;
      }
  }