<div class="general">
    <mat-card class="main-div">
      <span class="example-spacer"></span>
      <img src="../../../assets/images/icon.png"/>
      <mat-card-header>
        <mat-card-title >Bienvenido a Greenwallet</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <nav mat-tab-nav-bar [tabPanel]="tabPanel">
          <a
            mat-tab-link
            [routerLink]="['/usuario/login']"
            routerLinkActive="active-link"
            >Iniciar Sesión</a
          >
          <a
            mat-tab-link
            [routerLink]="['/usuario/registrar']"
            routerLinkActive="active-link"
            >Registrarse</a
          >
        </nav>
        <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
        <div class="div-panel">
          <router-outlet></router-outlet>
        </div>
      </mat-card-content>
    </mat-card>
</div>