<div>
    <div class="container-vh100 imagebg">
        <div class="container-vh100 introductionsqr">
            <div class="texto">
                <h1> ¡Bienvenido!</h1>
                <p> En GreenWallet podrás ayudar al ambiente
                <br/> y conseguir interesantes recompensas
                <br/> por medio de nuestro sistema económico
                </p>
                <br/>
                <button mat-flat-button color="accent"> <span> Quiero saber más </span></button>
            </div>
        </div>

    </div>
    <div class="container-vh100 secondSlide  ">
        <div class="col left-side">
            <h1> ¿Cómo es que funciona?</h1>
            <p> Nuestra compañía esta en acuerdo con varios
                <br/> centros de reciclajes para que puedas
                <br/> despojar de tus materiales en dichos lugares 
                <br/> y de esta forma puedas ganar monedas
                <br/> digitales para intercambiar con diferentes recompensas.
            </p>
            <button mat-flat-button color="accent"> <span> Conoce que materiales usamos </span></button>
        </div>
        <div class="col right-side">
                <div class="div1 img"> </div>
                <div class="div2 img"> </div>
                <div class="div3 img"> </div>
                <div class="div4 img"> </div>
        </div>
    </div>
</div>
