<div>
    <div class="container-vh100 imagebg">
        <div class="container-vh100 introductionsqr">
            <div class="texto">
                <h1> ¡Bienvenido!</h1>
                <p> En GreenWallet podrás ayudar al ambiente
                <br/> y conseguir interesantes recompensas
                <br/> por medio de nuestro sistema económico
                </p>
                <br/>
                <button mat-flat-button color="accent"> <span> Quiero saber más </span></button>
            </div>
        </div>

    </div>
    <div class="container-vh100  ">

    </div>
</div>>
