<div class="container-vh100 background" id="background">
    <div class="title"> <h3> Conoce más </h3> </div>
    <div class="information selectDisable">
        <a href="/materiales/1" id="showmore"><h1 id="changeable"> Papel </h1></a>
    </div>
    <div class="center-pointer"></div>
    <div id="image-track" class="selectDisable" data-mouse-down-at="0" data-prev-percentage="0">
        <div *ngFor="let item of datos" draggable="false" class="selectDisable">    
        <img class="image selectDisable" name="{{item.idCategoriaM}}"  id="{{item.nombre}}" src="../../../assets/images/mat_{{item.idCategoriaM}}.jpg" onclick="imgFocus(id,name)" draggable="false" s> 
        </div>    
    </div>
</div>