*{
    overflow: hidden;
}
.container-vh100 {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    z-index: -2;

} 

.background{
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.9)), url('../../../assets/images/mat_1.jpg');
    background-position: 25% center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    z-index: -2;
}


#image-track{
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(0%, -50%); 
    user-select: none;
    z-index: 1;
}

#image-track > div > .image{
    width: 15vmin;
    height: 17vmin;
    object-fit: cover;
    object-position: 100% 50%;
    box-shadow: 0px 0px 100px rgb(0, 0, 0);
    z-index: 2;
    transition: ease-in-out 0.5s;
}

#image-track > div > .image:hover{
    filter: brightness(35%);
    cursor: pointer;
}

.center-pointer{
    position: absolute;
    left: 50%;
    top: 84.65%;
    transform: translate(-50%, -50%); 
    user-select: none;
    z-index: 0;
    width: 16vmin;
    height: 17vmin;
    object-fit: cover;
    background-color: transparent;
    border: 1px solid white;
    box-shadow: 0px 0px 25px rgb(0, 0, 0);
    opacity: 1;
}

.selectDisable {
    user-select: none;
}

.information{ 
    margin: 15vh 1vh;
    color: rgba(255, 255, 255, 0.952);
    text-align: center;
}

.information > a{
    color: white;
    font-size: 2em;
    transition: 1s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.information > a:hover{
    letter-spacing: 10px;
}

.information h1{
    padding: 1vh;
    margin: 0px;
}


.title{
    text-align: center;
    color: white;
}

.title > h3{
    padding-top: 15vh;
    font-weight: lighter;
}

@media (max-width: 1024px) {
    *{
        overflow-y: auto;
    }
    .title > h3{
        padding-top: 15vh;
        font-weight: lighter;
    }


    .center-pointer{
        position: absolute;
        left: 50%;
        top: 85%;
        transform: translate(-50%, -50%); 
        user-select: none;
        z-index: 0;
        width: 19vmin;
        height: 19vmin;
        object-fit: cover;
        background-color: rgba(255, 255, 255, 0.589);
        box-shadow: 0px 0px 25px rgb(0, 0, 0);
        opacity: 0;
    }

    #image-track{
        display: inline;
        gap: 5vmin;
        left: 5vh;
        top: 70%;
        transform: translate(0%, -50%); 
        user-select: none;
        z-index: 1;
        position: fixed;
    }

    #image-track > div > .image{
        max-width: 100%;
        width: 100%;
        height: 13vmin;
        object-fit: cover;
        object-position: 100% 100%;
        box-shadow: 0px 0px 100px rgb(0, 0, 0);
        z-index: 2;
        transition: ease-in-out 0.5s;
    }
}

@media (max-width: 700px) {
    .background{
        overflow-y: hidden;
    }

    #image-track{
        display: inline-flex;
        gap: 5vmin;
        left: unset;
        margin: auto 3%;
        top: 75%;
        transform: translate(0%, -50%); 
        user-select: none;
        z-index: 1;
        position: fixed;
    }

}
